[submodule "targets/libjpeg-turbo"]
	path = targets/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo.git
[submodule "targets/nasm"]
	path = targets/nasm
	url = git@github.com:netwide-assembler/nasm.git
[submodule "targets/cJSON"]
	path = targets/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "targets/libarchive"]
	path = targets/libarchive
	url = git@github.com:libarchive/libarchive.git
[submodule "targets/libxml2"]
	path = targets/libxml2
	url = git@github.com:GNOME/libxml2.git
[submodule "targets/freetype/freetype"]
	path = targets/freetype/freetype
	url = git@github.com:freetype/freetype.git
[submodule "targets/libpng/libpng"]
	path = targets/libpng/libpng
	url = git@github.com:glennrp/libpng.git
[submodule "targets/json-parser"]
	path = targets/json-parser
	url = git@github.com:json-parser/json-parser.git
[submodule "targets/imgdataopt"]
	path = targets/imgdataopt
	url = git@github.com:pts/imgdataopt.git
[submodule "targets/gpmf-parser"]
	path = targets/gpmf-parser
	url = git@github.com:gopro/gpmf-parser.git
[submodule "targets/libpcap"]
	path = targets/libpcap
	url = git@github.com:the-tcpdump-group/libpcap.git
[submodule "targets/zlib/zlib"]
	path = targets/zlib/zlib
	url = git@github.com:madler/zlib.git
[submodule "targets/c-blosc2"]
	path = targets/c-blosc2
	url = git@github.com:Blosc/c-blosc2.git
[submodule "targets/cgif"]
	path = targets/cgif
	url = git@github.com:dloebl/cgif.git
[submodule "targets/libbpf/libbpf"]
	path = targets/libbpf/libbpf
	url = git@github.com:libbpf/libbpf.git
